
# ignore the following files

# vscode files and folders
.vscode
./orca/.vscode
./orca/src/.vscode
./orca/src/RVO.vcpro


# from orca package
./orca/src/understanding_modelStates.cpp


# turtlebot3 packages
turtlebot3/
turtlebot3_simulations/



